
<style>
  .drawer {
    visibility: hidden;
  }
</style>


<!-- Mini Cart -->
<div class="fixed z-10 top-0 right-0" id="vue-cart">
  <mini-cart></mini-cart>
</div>

{% comment %} <div class="w-full">
  <div class="pointer-events-auto w-full">
    <div class="flex h-full flex-col">
      <div class="flex-1">

        <vue-cart-items v-if="virtual"></vue-cart-items>

        <div v-else class="flex items-start justify-between">
          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title">Shopping cart</h2>
          <div class="ml-3 flex h-7 items-center">
            <button type="button" class="-m-2 p-2 text-gray-400 hover:text-gray-500">
              <span class="sr-only">Close panel</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>

        <mini-cart></mini-cart>

        
        <div class="w-full mt-8">
          <div class="flow-root">
            <ul role="list" class="-my-6 divide-y divide-gray-200">
              {%- for item in cart.items -%}
              <li class="w-full">
                <div class="flex py-6">
                  {%- if item.image -%}
                    <div class="h-24 w-24 flex-shrink-0 overflow-hidden rounded-md border border-gray-200 relative">
                      <a
                        href="{{ item.url }}"
                        class="absolute block inset-0 w-full h-full"
                        tabindex="-1" 
                        aria-hidden="true"
                      >&nbsp;</a>
                      <img
                        src="{{ item.image | image_url: width: 300 }}"
                        alt="{{ item.image.alt | escape }}"
                        loading="lazy"
                        class="h-full w-full object-cover object-center"
                      />
                    </div>
                  {%- endif -%}

                  <div class="ml-4 flex flex-1 flex-col">
                    <div>
                      <div class="flex justify-between text-base font-medium text-gray-900">
                        <h3>
                          <a href="{{ item.url }}">
                            {{- item.product.title | escape -}}
                          </a>
                        </h3>
                        <p class="ml-4">
                        {%- if item.original_price != item.final_price -%}
                          <span class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </span>
                          <s class="cart-item__old-price product-option">
                            {{- item.original_price | money -}}
                          </s>
                          <span class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </span>
                          <strong class="cart-item__final-price product-option">
                            {{ item.final_price | money }}
                          </strong>
                        {%- else -%}
                          {{ item.original_price | money }}
                        {%- endif -%}
                        </p>
                      </div>
                      <p class="mt-1 text-sm text-gray-500">{{ item.produt.type  }}</p>
                    </div>
                    <div class="flex flex-1 items-end justify-between text-sm">
                      <p class="text-gray-500">Qty {{ item.quantity }}</p>
                      <div class="flex">
                        <button
                          @click="remove({{ item.id }})"
                          type="button" class="font-medium text-indigo-600 hover:text-indigo-500">Remove</button>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>

        <product-slider
          :shopify-data="{ collectionHandle: 'homepage-slider', tittle: 'Vue product Slider' }">
        </product-slider>
      </div>
    </div>
  </div>
</div> {% endcomment %}