
{%- liquid
  assign active_variant = product.selected_or_first_available_variant
  assign color_option_index = 0
  for option in product.options_with_values
    if option.name == 'Color'
      assign color_option_index = forloop.index0
      break
    endif
  endfor
  assign active_color = active_variant.options[0] | handle
-%}

<div id="product-app">
  <div class="page-width">
    <section class="product-hero flex gap-x-10">
      <div class="product-hero__media w-[60%]">
        {% render 'product-gallery' with active_color: active_color %}
      </div>
      <div class="product-hero__info flex-1 space-y-4 gap-y-4">
        <div class="flex flex-col gap-y-2 mt-8">
          {% render 'product-badges' with _tags: product.tags %}
          <h1 class="text-2xl font-semibold">{{ product.title }}</h1>
          <p class="text-base">{{ product.description }}</p>
          <p class="text-base">Type: {{ product.type }}</p>
          {%- if product.compare_at_price_max > product.price -%}
            <p class="product-hero__price text-lg">
              <span class="product-hero__price--discount text-red-600 font-semibold">{{ product.price | money }}</span>
              <span class="product-hero__price--original line-through text-gray-500">{{ product.compare_at_price_max | money }}</span>
            </p>
          {%- else -%}
            <p class="product-hero__price text-lg">{{ product.price | money }}</p>
          {%- endif -%}
        </div>

        <product-hero
          :shopify-data='{
            variant_id: {{ product.selected_or_first_available_variant.id | json }},
            options: {{ product.options_with_values | json }}
          }'
        />
      </div>
    </section>
  </div>
</div>

<script>
  window.remainingMedia = [
    {%- assign remaining_media = product.media  -%}
    {%- for media in remaining_media -%}
      {
        id: '{{ media.id }}',
        media_type: '{{ media.media_type }}',
        {%- if media.media_type == 'image' -%}
        src: '{{ media | img_url: '500x' }}',
        alt: '{{ media.alt }}',
        {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
        sources: [
          {
            url: '{{ media.sources[0].url }}',
            mime_type: '{{ media.sources[0].mime_type }}',
          },
        ],
        {%- endif -%}
      },
    {%- endfor -%}
  ];
</script>