{%- liquid
  assign cart_count_product = 0
  if cart.item_count > 0
    for line_item in cart.items
      if line_item.product_id == product.id
        assign cart_count_product = cart_count_product | plus: line_item.quantity
      endif
    endfor
  endif
-%}

<input
  name="updates--{{ product.id }}"
  type="hidden"
  data-count-onetime="{{ cart_count_product }}"
  data-id="{{ product.id }}"
  data-name="{{ product.title }}"
  data-price="{{ product.price | money_without_trailing_zeros | remove: '$' }}"
  value="{{ cart_count_product }}"
  class="product_byob_quantity"
>
{% unless product.tags contains 'BuyXGetY' %}
  <div class="product-image-wrapper">
    <div class="card__badge {{ settings.badge_position }}">
      {% assign tag_to_display = '' %}
      {% for tag in product.tags %}
        {% if tag contains 'badge:' %}
          {% assign tag_to_display = tag | split: ':' | last %}
        {% endif %}
      {% endfor %}
      {% if tag_to_display == blank %}
        {% if product.tags contains 'marilyncollection' %}
          {% assign tag_to_display = 'Fleur x Marilyn' %}
        {% elsif product.tags contains 'sustainable' %}
          {% assign tag_to_display = 'Sustainable' %}
        {% elsif product.tags contains 'swim' %}
          {% assign tag_to_display = 'Swim' %}
        {% elsif product.tags contains 'Final Sale' %}
          {% assign tag_to_display = 'Final Sale' %}
        {% endif %}
      {% endif %}
      {% if tag_to_display != blank %}
        <span
          id="NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
          class="badge badge--bottom-left color-{{ settings.tag_badge_color_scheme }}"
          style="border-radius:{{ settings.badge_corner_radius }}px;"
        >
          {{- tag_to_display }}
        </span>
      {% endif %}
    </div>

    {% liquid
      assign image_resolution = '557x850'
      assign image_resolution_width = 557
      assign image_resolution_height = 850
    %}

    {% if product.tags contains 'Promotion' or product.type == 'Promotion' %}
      {% if product.description contains '<!-- collection-video -->' %}
        <div class="video">
          <div class="video-player">
            <video
              poster="{{ product.featured_image | img_url: image_resolution, crop: 'center' }}"
              preload="none"
              controlsList="nodownload"
              autoplay
              muted
              loop
              playsinline
              webkit-playsinline
            >
              <source
                src="{{ product.description | split: '<!-- collection-video -->' | last | split: '<!-- end collection-video -->' | first }}"
                type="video/mp4"
              >
              Your browser does not support HTML5 video.
            </video>
          </div>
          <!-- video-player -->
        </div>
        <!-- video -->
      {% else %}
        <img
          srcset="
            {%- if product.featured_image.width >= 165 -%}{{ product.featured_image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if product.featured_image.width >= 360 -%}{{ product.featured_image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if product.featured_image.width >= 533 -%}{{ product.featured_image | image_url: width: 533 }} 533w,{%- endif -%}
            {%- if product.featured_image.width >= 720 -%}{{ product.featured_image | image_url: width: 720 }} 720w,{%- endif -%}
            {%- if product.featured_image.width >= 940 -%}{{ product.featured_image | image_url: width: 940 }} 940w,{%- endif -%}
            {%- if product.featured_image.width >= 1066 -%}{{ product.featured_image | image_url: width: 1066 }} 1066w,{%- endif -%}
            {{ product.featured_image | image_url }} {{ product.featured_image.width }}w
          "
          src="{{ product.featured_image | image_url: width: image_resolution_width, height: image_resolution_height, crop: 'center'  }}"
          sizes="(min-width: 768px) 33vw, 50vw"
          alt="{{ product.title | escape }}"
          class="promotion"
          loading="lazy"
          width="{{ product.featured_image.width }}"
          height="{{ product.featured_image.height }}"
        >
      {% endif %}
    {% else %}
      {% if product.images.size == 0 %}
        {% assign single_image = true %}
        <img
          class="product-image single"
          src="{{ 'no_product_image.jpg' | asset_url }}"
          alt="{{ product.title | escape  }}"
        >
      {% else %}
        {% if product.images.size == 1 %}
          {% assign single_image = true %}
        {% else %}
          {% assign single_image = false %}
        {% endif %}

        {% assign found_image = false %}
        {% for image in product.images %}
          {% if image.alt contains 'flat' and found_image == false %}
            <img
              srcset="
                {%- if image.width >= 165 -%}{{ image | image_url: width: 165 }} 165w,{%- endif -%}
                {%- if image.width >= 360 -%}{{ image | image_url: width: 360 }} 360w,{%- endif -%}
                {%- if image.width >= 533 -%}{{ image | image_url: width: 533 }} 533w,{%- endif -%}
                {%- if image.width >= 720 -%}{{ image | image_url: width: 720 }} 720w,{%- endif -%}
                {%- if image.width >= 940 -%}{{ image | image_url: width: 940 }} 940w,{%- endif -%}
                {%- if image.width >= 1066 -%}{{ image | image_url: width: 1066 }} 1066w,{%- endif -%}
                {{ image | image_url }} {{ image.width }}w
              "
              src="{{ image | image_url: width: image_resolution_width, height: image_resolution_height, crop: 'center'  }}"
              sizes="(min-width: 768px) 33vw, 50vw"
              alt="{{ product.title | escape }}"
              class="product-image{% if single_image %} single{% endif %}"
              loading="lazy"
              width="{{ image.width }}"
              height="{{ image.height }}"
            >
            {% assign found_image = true %}
          {% endif %}
        {% endfor %}
        {% unless found_image %}
          <img
            srcset="
              {%- if product.images[0].width >= 165 -%}{{ product.images[0] | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if product.images[0].width >= 360 -%}{{ product.images[0] | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if product.images[0].width >= 533 -%}{{ product.images[0] | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if product.images[0].width >= 720 -%}{{ product.images[0] | image_url: width: 720 }} 720w,{%- endif -%}
              {%- if product.images[0].width >= 940 -%}{{ product.images[0] | image_url: width: 940 }} 940w,{%- endif -%}
              {%- if product.images[0].width >= 1066 -%}{{ product.images[0] | image_url: width: 1066 }} 1066w,{%- endif -%}
              {{ product.images[0] | image_url }} {{ product.images[0].width }}w
            "
            src="{{ product.images[0] | image_url: width: image_resolution_width, height: image_resolution_height, crop: 'center'  }}"
            sizes="(min-width: 768px) 33vw, 50vw"
            alt="{{ product.title | escape }}"
            class="product-image"
            loading="lazy"
            width="{{ product.images[0].width }}"
            height="{{ product.images[0].height }}"
          >
        {% endunless %}
      {% endif %}
      {%- unless product.type == 'Promotion' -%}
        <div class="hide options-products">
          <div class="option-contain">
            {% if product.available %}
              <button
                type="button"
                class="btn whithout-fill-btn remove-cta addtocart-btn{% if cart_collection_items_wholesale >= 56 %} hide{% endif %}"
                data-id="{{product.id}}"
                data-variant-id="{{ product.first_available_variant.id }}"
                data-product-count="{{ cart_count_product }}"
                data-price="{{ product.price | money_without_trailing_zeros | remove: '$' }}"
                data-image-render="{{ productImage }}"
                data-image-render-src="{{ productImageSrc }}"
                data-product-type="{{ product.type }}"
              >
                ADD TO BUNDLE
              </button>
              <p class="variant-copy">Choose Your Size</p>
              <div class="variants">
                {% if product.available and product.variants.size >= 1 %}
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      {%- assign option_index = 0 -%}
                      {%- for product_option in product.options_with_values -%}
                        {% if product_option.name == 'size'
                          or product_option.name == 'Size'
                          or product_option.name == 'SIZE'
                        %}
                          {% assign option_index = forloop.index0 %}
                        {% endif %}
                      {%- endfor -%}
                      <span
                        class="variant-selector"
                        data-final-sale="{% if product.tags contains 'Final Sale' %}{{ 'products.product.final_sale' | t }}{% else %}false{% endif %}"
                        data-id="{{ product.id }}"
                        data-variant-id="{{ variant.id }}"
                        data-product-count="{{ cart_count_product }}"
                        data-price="{{ product.price | money_without_trailing_zeros | remove: '$' }}"
                        data-image-render="{{ productImage }}"
                        data-image-render-src="{{ productImageSrc }}"
                        data-product-type="{{ product.type }}"
                        data-variant-size="Size: {{ variant.options[option_index] | upcase }}"
                      >
                        {{- variant.options[option_index] -}}
                      </span>
                    {% endif %}
                  {% endfor %}
                {% else %}

                {% endif %}
              </div>
              <button
                type="button"
                class="btn whithout-fill-btn deletetocart-btn hide"
                data-price="{{ product.price | money_without_trailing_zeros | remove: '$' }}"
                data-id="{{product.id}}"
                data-variant-id="{{ product.first_available_variant.id }}"
              >
                REMOVE
              </button>
            {% endif %}
            <button
              type="button"
              class="show-details"
              data-open="show-details-modal-product-{{ product.id }}"
              product_id="{{ product.id }}"
            >
              Show Details
            </button>
          </div>
        </div>
      {%- endunless -%}
    {% endif %}
  </div>
  <!-- product-image-wrapper -->

  {%- unless product.type == 'Promotion' -%}
    {% unless product.tags contains 'Promotion' %}
      <ul class="information">
        <li class="title hide-for-large">
          {% if product.description contains '<!-- title-abbreviated -->' -%}
            {{-
              product.description
              | split: '<!-- title-abbreviated -->'
              | last
              | split: '<!-- end title-abbreviated -->'
              | first
            -}}
          {%- else -%}
            {{- product.title | truncate: 29 | escape -}}
          {%- endif %}
          {% comment %}</a>{% endcomment %}
        </li>
        <li class="title show-for-large"></li>
        <li
          class="badge{% if collection.handle contains 'essentials' or template.name == 'product' %} hidden{% endif %}"
          {% unless product.tags contains 'essentials' %}
            style="opacity:0;"
          {% endunless %}
        >
          essentials
        </li>
        {% if product.available %}
          {% if product.compare_at_price > product.price %}
            <li class="price {% if product.tags contains 'badge:essentiels' %}badge-essentiels{% endif %}">
              <del
                ><span class="money">{{ product.compare_at_price_max | money | remove: '.00' }}</span></del
              >
              <span class="money">{{ product.price_min | money | remove: '.00' }} </span>
              <span class="price-discount">
                {% if product.compare_at_price_max > product.price %}
                  {% capture discount %}
								{{ product.compare_at_price_max | minus: product.price | times: 100 |
								divided_by: product.compare_at_price_max |
								replace: '22', '25' | replace: '27', '30' | replace: '28', '30' | replace: '29', '30' | replace: '31','30' | replace: '33', '35' | replace: '38', '40' | replace: '39', '40' | replace: '48', '50' | replace: '49',
								'50' |
								replace: '48', '50' | replace: '49', '50' | replace: '51', '50' | replace: '68', '70' | replace: '69',
								'70' }}%
								OFF
								{% endcapture %}
                  {{ discount }}
                {% endif %}
              </span>
            </li>
          {% else %}
            <li class="price {% if product.tags contains 'badge:essentiels' %}badge-essentiels{% endif %}">
              {% if product.type == 'Gift Cards' -%}
                <span class="money">{{ product.price_min | money }}</span> -
                <span class="money">{{ product.price_max | money }}</span>
              {%- else -%}
                <span class="money">{{ product.price_min | money | remove: '.00' }}</span>
              {%- endif %}
            </li>
          {% endif %}
        {% else %}
          {% if product.tags contains 'coming soon' %}
            <li class="price">
              <a href="#" class="BIS_trigger" data-product-data="{{ product | json | escape }}">
                {{ 'products.product.coming_soon' | t }}
              </a>
            </li>
          {% else %}
            <li class="price">{{ 'products.product.sold_out' | t }}</li>
          {% endif %}
        {% endif %}

        {% if template.name == 'collection' or template.name == 'product' or template.name == 'search' %}
          {% unless product.available == false %}
            <li class="add-to-cart" style="display:none;">
              <span class="button">Add to bag</span>
              <div class="variants">
                {% if product.available and product.variants.size >= 1 %}
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      {%- assign option_index = 0 -%}
                      {%- for product_option in product.options_with_values -%}
                        {% if product_option.name == 'size'
                          or product_option.name == 'Size'
                          or product_option.name == 'SIZE'
                        %}
                          {% assign option_index = forloop.index0 %}
                        {% endif %}
                      {%- endfor -%}
                      <span class="variant-selector" data-variant-id="{{ variant.id }}">
                        {{- variant.options[option_index] -}}
                      </span>
                    {% endif %}
                  {% endfor %}
                {% else %}

                {% endif %}
              </div>
            </li>
          {% endunless %}
        {% endif %}

        <div class="options-products options-footer">
          <div class="option-contain">
            <button
              type="button"
              class="show-details-btn hide-desktop"
              data-open="show-details-modal-product-{{ product.id }}"
              product_id="{{ product.id }}"
            >
              <span>Show Details</span>
            </button>
            {% if product.available == true %}
              <button
                type="button"
                class="btn remove-cta hide-desktop mob addtocart-btn{% if cart_collection_items_wholesale >= 56 %} hide{% endif %}"
                data-image-render="{{ productImage }}"
                data-image-render-src="{{ productImageSrc }}"
                data-id="{{ product.id }}"
                data-variant-id="{{product.first_available_variant.id}}"
                data-product-count="{{ cart_count_product }}"
                data-subscription-product-id="{{productVariant_id}}"
                data-subscription-id="{{productSubscription_id}}"
                data-price="{{ product.price | money_without_trailing_zeros | remove: '$' }}"
              >
                ADD TO BUNDLE
              </button>
              <p class="variant-copy hide-desktop">Choose Your Size</p>
              <div class="variants hide-desktop">
                {% if product.available and product.variants.size >= 1 %}
                  {% for variant in product.variants %}
                    {% if variant.available %}
                      {%- assign option_index = 0 -%}
                      {%- for product_option in product.options_with_values -%}
                        {% if product_option.name == 'size'
                          or product_option.name == 'Size'
                          or product_option.name == 'SIZE'
                        %}
                          {% assign option_index = forloop.index0 %}
                        {% endif %}
                      {%- endfor -%}
                      <span
                        class="variant-selector"
                        data-final-sale="{% if product.tags contains 'Final Sale' %}{{ 'products.product.final_sale' | t }}{% else %}false{% endif %}"
                        data-id="{{ product.id }}"
                        data-variant-id="{{ variant.id }}"
                        data-product-count="{{ cart_count_product }}"
                        data-price="{{ product.price | money_without_trailing_zeros | remove: '$' }}"
                        data-image-render="{{ productImage }}"
                        data-image-render-src="{{ productImageSrc }}"
                        data-product-type="{{ product.type }}"
                        data-variant-size="Size: {{ variant.options[option_index] | upcase }}"
                      >
                        {{- variant.options[option_index] -}}
                      </span>
                    {% endif %}
                  {% endfor %}
                {% else %}

                {% endif %}
              </div>
              <button
                type="button"
                class="btn blue-dark-fill-btn hide-desktop deletetocart-btn hide"
                data-id="{{ product.id }}"
                data-variant-id="{{ product.first_available_variant.id }}"
              >
                REMOVE
              </button>
            {% endif %}
          </div>
        </div>

        <div class="reveal-overlay" style="display:none;">
          <div
            id="show-details-modal-product-{{ product.id }}"
            class="popup reveal small show-details-modal"
            data-reveal
            style="display:none;"
          >
            <a href="javascript:void(0);" class="close-button" name="close-button" data-close>&#215;</a>
            {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

            <div class="product-gallery-wrapper">
              <div class="row">
                <div class="medium-2 small-12 columns">
                  <div class="byob-carousel-nav columns hidden">
                    {% for media in product.media limit: 9 %}
                      {% unless media.alt contains 'collectionpageonly' %}
                        <a
                          class="carousel-cell{% if media.id == featured_image.id %} is-nav-selected{% endif %}"
                          data-media-id="{{ media.id }}"
                        >
                          {% case media.media_type %}
                            {% when 'video' %}
                              {% include 'icon-play-button' %}
                            {% when 'external_video' %}
                              {% include 'icon-play-button' %}
                          {% endcase %}
                          {{ media | img_url: '160x220', crop: 'center' | img_tag: media.alt }}
                        </a>
                      {% endunless %}
                    {% endfor %}
                  </div>
                  <!-- carousel-nav columns -->
                </div>
                <!-- medium-1 small-12 columns -->
                <div class="medium-12 small-12 columns">
                  <div class="product-gallery row align-middle small-collapse medium-uncollapse">
                    <div id="byob-carousel-{{ product.id }}" class="byob-carousel carousel-main columns">
                      {% for media in product.media limit: 9 %}
                        {% unless media.alt contains 'collectionpageonly' %}
                          {% case media.media_type %}
                            {% when 'image' %}
                              <div class="carousel-cell{% unless product.type == 'Gift Cards'%} byob-zoom{% endunless %}">
                                <img
                                  srcset="
                                    {%- if media.width >= 165 -%}{{ media | image_url: width: 165 }} 165w,{%- endif -%}
                                    {%- if media.width >= 360 -%}{{ media | image_url: width: 360 }} 360w,{%- endif -%}
                                    {%- if media.width >= 533 -%}{{ media | image_url: width: 533 }} 533w,{%- endif -%}
                                    {%- if media.width >= 720 -%}{{ media | image_url: width: 720 }} 720w,{%- endif -%}
                                    {%- if media.width >= 940 -%}{{ media | image_url: width: 940 }} 940w,{%- endif -%}
                                    {%- if media.width >= 1066 -%}{{ media | image_url: width: 1066 }} 1066w,{%- endif -%}
                                    {{ media | image_url }} {{ media.width }}w
                                  "
                                  src="{{ media | image_url: width: 165 }}"
                                  sizes="(min-width: 768px) 520px, 50vw"
                                  alt="{{ media.alt | escape }}"
                                  {% if media.id == featured_image.id %}
                                    class="active"
                                  {% endif %}
                                  loading="lazy"
                                  width="{{ media.width }}"
                                  height="{{ media.height }}"
                                  data-image-id="{{ media.id }}"
                                  data-image-index="{{ forloop.index0 }}"
                                  data-zoom="{{ media | image_url: width: 2200, height: 2200, crop: 'center'  }}"
                                >
                              </div>
                              <!-- carousel-cell -->
                            {% when 'external_video' %}
                              <div class="carousel-cell">
                                <div
                                  class="product-single__media"
                                  style="padding-top: {{ 1 | divided_by: media.aspect_ratio | times: 100}}%;"
                                  data-media-id="{{ media.id }}"
                                >
                                  {{
                                    media
                                    | external_video_tag: controls: false, autoplay: true, mute: true, loop: true
                                  }}
                                </div>
                                <!-- product-single__media -->
                              </div>
                              <!-- carousel-cell -->
                            {% when 'video' %}
                              <div class="carousel-cell">
                                <div class="product-single__media" data-media-id="{{ media.id }}">
                                  {{
                                    media
                                    | video_tag:
                                      controls: false,
                                      autoplay: true,
                                      mute: true,
                                      loop: true,
                                      preload: 'none'
                                  }}
                                </div>
                                <!-- product-single__media -->
                              </div>
                              <!-- carousel-cell -->
                            {% when 'model' %}
                              <div class="carousel-cell">
                                <div
                                  class="product-single__media"
                                  style="padding-top: 100%"
                                  data-media-id="{{ media.id }}"
                                >
                                  {{ media | model_viewer_tag }}
                                </div>
                                <!-- product-single__media -->
                              </div>
                              <!-- carousel-cell -->
                            {% else %}
                              <div class="carousel-cell">
                                <div
                                  class="product-single__media"
                                  style="padding-top: 100%;"
                                  data-media-id="{{ media.id }}"
                                >
                                  {{ media | media_tag }}
                                </div>
                                <!-- product-single__media -->
                              </div>
                              <!-- carousel-cell -->
                          {% endcase %}
                        {% endunless %}
                      {% endfor %}
                    </div>
                    <!-- carousel carousel-main columns hide-for-small-only -->
                  </div>
                  <!-- product-gallery row align-middle small-collapse medium-uncollapse -->
                </div>
                <!-- medium-11 small-12 columns -->
              </div>
              <!-- row collapse -->
            </div>
            {% comment %}{% endcomment %}
            <!-- product-gallery-wrapper -->
            <h6>{{ product.title }}</h6>
            {% if product.tags contains 'Final Sale' %}
              <div class="final-sale">{{ 'products.product.final_sale' | t }}</div>
            {% endif %}
            {% if product.description contains '<!-- description -->' %}
              <div class="description">
                {%- liquid
                  assign productDescription = product.description | split: '<!-- description -->' | last | split: '<!-- end description -->' | first
                  assign productDescription = productDescription | replace: ' ', ' '
                  if productDescription contains 'Complete the set with the ' or productDescription contains 'complete the set with the ' or productDescription contains 'Make it your essential set with the ' or productDescription contains 'make it your essential set with the ' or productDescription contains 'Pair with any of our ' or productDescription contains 'pair with any of our ' or productDescription contains 'Pair it with a matching ' or productDescription contains 'pair it with a matching ' or productDescription contains 'Pair it back to the ' or productDescription contains 'pair it back to the ' or productDescription contains 'Styling yours with the matching ' or productDescription contains 'styling yours with the matching ' or productDescription contains 'Pair it back to the matching ' or productDescription contains 'pair it back to the matching '
                    assign toFind = 'Complete the set with the '
                    if productDescription contains 'complete the set with the '
                      assign toFind = 'complete the set with the '
                    endif
                    if productDescription contains 'Make it your essential set with the '
                      assign toFind = 'Make it your essential set with the '
                    endif
                    if productDescription contains 'make it your essential set with the '
                      assign toFind = 'make it your essential set with the '
                    endif
                    if productDescription contains 'Pair with any of our '
                      assign toFind = 'Pair with any of our '
                    endif
                    if productDescription contains 'pair with any of our '
                      assign toFind = 'pair with any of our '
                    endif
                    if productDescription contains 'Pair it with a matching '
                      assign toFind = 'Pair it with a matching '
                    endif
                    if productDescription contains 'pair it with a matching '
                      assign toFind = 'pair it with a matching '
                    endif
                    if productDescription contains 'Pair it back to the '
                      assign toFind = 'Pair it back to the '
                    endif
                    if productDescription contains 'pair it back to the '
                      assign toFind = 'pair it back to the '
                    endif
                    if productDescription contains 'Styling yours with the matching '
                      assign toFind = 'Styling yours with the matching '
                    endif
                    if productDescription contains 'styling yours with the matching '
                      assign toFind = 'styling yours with the matching '
                    endif
                    if productDescription contains 'Pair it back to the matching '
                      assign toFind = 'Pair it back to the matching '
                    endif
                    if productDescription contains 'pair it back to the matching '
                      assign toFind = 'pair it back to the matching '
                    endif
                    assign productDescriptionAfter = productDescription | split: toFind | last
                    assign productDescriptionProducts = productDescriptionAfter | split: '.' | first
                    assign productDescriptionAfter2 = productDescriptionAfter | split: '.' | last
                    if productDescriptionProducts contains ', ' and productDescriptionProducts contains ' or ' or productDescriptionProducts contains ' or the '
                      assign toFind = ', '
                      assign productDescriptionProducts1 = productDescriptionProducts | split: toFind | first
                      assign productDescriptionProducts1Down = productDescriptionProducts1 | downcase

                      assign productDescriptionProducts2 = productDescriptionProducts | split: toFind | last
                      assign foundProduct1 = false
                      assign foundProduct2 = false
                      assign foundProduct3 = true
                      if productDescriptionProducts2 contains ' or ' or productDescriptionProducts2 contains ' or the '
                        assign productDescriptionProducts23 = productDescriptionProducts2
                        assign toFind = ' or '
                        if productDescriptionProducts23 contains ' or the '
                          assign toFind = ' or the '
                        endif
                        assign productDescriptionProducts2 = productDescriptionProducts23 | split: toFind | first
                        assign productDescriptionProducts2Down = productDescriptionProducts2 | downcase
                        assign productDescriptionProducts3 = productDescriptionProducts23 | split: toFind | last
                        assign productDescriptionProducts3Down = productDescriptionProducts3 | downcase
                        assign foundProduct3 = false
                      else
                        assign productDescriptionProducts2Down = productDescriptionProducts2 | downcase
                      endif
                      assign newProductDescriptionProducts = productDescriptionProducts
                      paginate collections.all.products by 9999
                        for collectionsProduct in collections.all.products
                          assign collectionsProductTitle = collectionsProduct.title | downcase
                          if collectionsProductTitle == productDescriptionProducts1Down
                            assign newProductDescriptionProducts1 = "<a target='_blank' href='" | append: collectionsProduct.url | append: "'>" | append: productDescriptionProducts1 | append: '</a>'
                            assign newProductDescriptionProducts = newProductDescriptionProducts | replace: productDescriptionProducts1, newProductDescriptionProducts1
                            assign foundProduct1 = true
                          endif
                          if collectionsProductTitle == productDescriptionProducts2Down
                            assign newProductDescriptionProducts2 = "<a target='_blank' href='" | append: collectionsProduct.url | append: "'>" | append: productDescriptionProducts2 | append: '</a>'
                            assign newProductDescriptionProducts = newProductDescriptionProducts | replace: productDescriptionProducts2, newProductDescriptionProducts2
                            assign foundProduct2 = true
                          endif
                          if collectionsProductTitle == productDescriptionProducts3Down
                            assign newProductDescriptionProducts3 = "<a target='_blank' href='" | append: collectionsProduct.url | append: "'>" | append: productDescriptionProducts3 | append: '</a>'
                            assign newProductDescriptionProducts = newProductDescriptionProducts | replace: productDescriptionProducts3, newProductDescriptionProducts3
                            assign foundProduct3 = true
                          endif
                          if foundProduct1 == true and foundProduct2 == true and foundProduct3 == true
                            break
                          endif
                        endfor
                      endpaginate
                      assign newProductDescriptionAfter = productDescriptionAfter | replace: productDescriptionProducts, newProductDescriptionProducts
                      assign productDescription = productDescription | replace: productDescriptionAfter, newProductDescriptionAfter
                    elsif productDescriptionProducts contains ' or ' or productDescriptionProducts contains ' or the '
                      assign toFind = ' or '
                      if productDescriptionProducts contains ' or the '
                        assign toFind = ' or the '
                      endif
                      assign productDescriptionProducts1 = productDescriptionProducts | split: toFind | first
                      assign productDescriptionProducts1Down = productDescriptionProducts1 | downcase
                      assign productDescriptionProducts2 = productDescriptionProducts | split: toFind | last
                      assign productDescriptionProducts2Down = productDescriptionProducts2 | downcase
                      assign newProductDescriptionProducts = productDescriptionProducts
                      assign foundProduct1 = false
                      assign foundProduct2 = false
                      paginate collections.all.products by 9999
                        for collectionsProduct in collections.all.products
                          assign collectionsProductTitle = collectionsProduct.title | downcase
                          if collectionsProductTitle == productDescriptionProducts1Down
                            assign newProductDescriptionProducts1 = "<a target='_blank' href='" | append: collectionsProduct.url | append: "'>" | append: productDescriptionProducts1 | append: '</a>'
                            assign newProductDescriptionProducts = newProductDescriptionProducts | replace: productDescriptionProducts1, newProductDescriptionProducts1
                            assign foundProduct1 = true
                          endif
                          if collectionsProductTitle == productDescriptionProducts2Down
                            assign newProductDescriptionProducts2 = "<a target='_blank' href='" | append: collectionsProduct.url | append: "'>" | append: productDescriptionProducts2 | append: '</a>'
                            assign newProductDescriptionProducts = newProductDescriptionProducts | replace: productDescriptionProducts2, newProductDescriptionProducts2
                            assign foundProduct2 = true
                          endif
                          if foundProduct1 == true and foundProduct2 == true
                            break
                          endif
                        endfor
                      endpaginate
                      assign newProductDescriptionAfter = productDescriptionAfter | replace: productDescriptionProducts, newProductDescriptionProducts
                      assign productDescription = productDescription | replace: productDescriptionAfter, newProductDescriptionAfter
                    else
                      assign newProductDescriptionProducts = false
                      if productDescriptionProducts contains ' for ' or productDescriptionProducts contains ' is '
                        assign toFind = ' for '
                        if productDescriptionProducts contains ' is '
                          assign toFind = ' is '
                        endif
                        assign productDescriptionProducts = productDescriptionProducts | split: toFind | first
                        assign productDescriptionProductsDown = productDescriptionProducts | downcase
                      else
                        assign productDescriptionProductsDown = productDescriptionProducts | downcase
                      endif
                      assign foundProduct1 = false
                      paginate collections.all.products by 9999
                        for collectionsProduct in collections.all.products
                          assign collectionsProductTitle = collectionsProduct.title | downcase
                          if collectionsProductTitle == productDescriptionProductsDown
                            assign newProductDescriptionProducts = "<a target='_blank' href='" | append: collectionsProduct.url | append: "'>" | append: productDescriptionProducts | append: '</a>'
                            assign foundProduct1 = true
                          endif
                          if foundProduct1 == true
                            break
                          endif
                        endfor
                      endpaginate
                      if newProductDescriptionProducts != false
                        assign newProductDescriptionAfter = productDescriptionAfter | replace: productDescriptionProducts, newProductDescriptionProducts
                        assign productDescription = productDescription | replace: productDescriptionAfter, newProductDescriptionAfter
                      endif
                    endif
                  endif
                  echo productDescription
                -%}
              </div>
              <!-- description -->
              {% if product.title contains 'Lily ' or product.title contains 'lily ' %}
                <p style="text-align:center;">
                  <a href="/collections/lily-embroidery">Shop our entire mix and match Lily collection here.</a>
                </p>
              {% endif %}
              {% if product.title contains 'Luxe ' or product.title contains 'luxe ' %}
                <p style="text-align:center;">
                  <a href="/collections/luxe-collection">Shop our entire mix and match Luxe collection here.</a>
                </p>
              {% endif %}
            {% endif %}
            {%- assign imageSize = 'UpdatedSizeChart1_resize.jpg' | asset_img_url: 'large' -%}
            {% if imageSize != ''
              or product.description contains '<!-- details -->'
              or product.description contains '<!-- fabrications -->'
              or product.description contains '<!-- care -->'
            %}
              <div class="collapsible-content collapsible-none-layout isolate content-container content-container--full-width">
                <div class="collapsible-content__wrapper" style="padding-top:0;padding-bottom:0;">
                  <div class="grid-config grid--1-col grid--2-col-tablet collapsible-content__grid">
                    <div class="grid__item">
                      {% if product.description contains '<!-- details -->'
                        or product.description contains '<!-- fabrications -->'
                        or product.description contains '<!-- care -->'
                      %}
                        <div class="accordion">
                          <details
                            id="Details-{{ product.id }}-0"
                          >
                            <summary id="Summary-{{ product.id }}-0" class="collapsible_content_summary">
                              <h5 class="accordion__title h4">
                                {{ 'products.product.materials_care.title' | t }}
                              </h5>
                            </summary>
                            <div
                              class="accordion__content"
                              id="CollapsibleAccordion-{{ product.id }}-0"
                              role="region"
                              aria-labelledby="Summary-{{ product.id }}-0"
                            >
                              {% if product.description contains '<!-- details -->' %}
                                {% if product.description contains '<!-- fabrications -->'
                                  or product.description contains '<!-- care -->'
                                %}
                                  <h6>{{ 'products.product.materials_care.details' | t }}</h6>
                                {% endif %}
                                {{
                                  product.description
                                  | split: '<!-- details -->'
                                  | last
                                  | split: '<!-- end details -->'
                                  | first
                                }}
                                {% unless product.type == 'Gift Cards' %}
                                  {% if product.description contains '<!-- sku -->' %}
                                    <ul>
                                      <li class="product-sku">
                                        {{
                                          product.description
                                          | split: '<!-- sku -->'
                                          | last
                                          | split: '<!-- end sku -->'
                                          | first
                                        }}
                                      </li>
                                    </ul>
                                  {% elsif product.variants.first.sku != '' %}
                                    <ul>
                                      <li class="product-sku">
                                        {{ 'products.product.sku' | t }}
                                        {{
                                          product.variants.first.sku
                                          | remove: '-000'
                                          | remove: '-00S'
                                          | remove: '-0XS'
                                          | remove: '-0SM'
                                          | remove: '-032B'
                                        }}
                                      </li>
                                    </ul>
                                  {% endif %}
                                {% endunless %}
                              {% endif %}

                              {% if product.description contains '<!-- fabrications -->' %}
                                <h6
                                  {% if product.description contains '<!-- details -->' %}
                                    class="top-margin-small"
                                  {% endif %}
                                >
                                  {{ 'products.product.materials_care.fabrications' | t }}
                                </h6>
                                {{
                                  product.description
                                  | split: '<!-- fabrications -->'
                                  | last
                                  | split: '<!-- end fabrications -->'
                                  | first
                                }}
                              {% endif %}

                              {% if product.description contains '<!-- care -->' %}
                                <h6
                                  {% if product.description contains '<!-- fabrications -->'
                                    or product.description contains '<!-- details -->'
                                  %}
                                    class="top-margin-small"
                                  {% endif %}
                                >
                                  {{ 'products.product.materials_care.care' | t }}
                                </h6>
                                {{
                                  product.description
                                  | split: '<!-- care -->'
                                  | last
                                  | split: '<!-- end care -->'
                                  | first
                                }}
                              {% endif %}
                            </div>
                          </details>
                        </div>
                      {% endif %}
                      {% if imageSize != '' %}
                        <div class="accordion">
                          <details
                            id="Details-{{ product.id }}-1"
                          >
                            <summary id="Summary-{{ product.id }}-1" class="collapsible_content_summary">
                              <h5 class="accordion__title h4">Size</h5>
                            </summary>
                            <div
                              class="accordion__content"
                              id="CollapsibleAccordion-{{ product.id }}-1"
                              role="region"
                              aria-labelledby="Summary-{{ product.id }}-1"
                            >
                              {{
                                'UpdatedSizeChart1_resize.jpg'
                                | asset_img_url: '800x', crop: 'center'
                                | img_tag: 'Size'
                              }}
                            </div>
                          </details>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
          <!-- show-details-modal-product -->
        </div>
      </ul>
      <!-- information -->
    {% endunless %}
  {%- endunless -%}
{% endunless %}
