<script>
    window.byo = {
      labelFinalSale: "{{ 'products.product.final_sale' | t }}",
      amount: "{% raw %}${{amount}}{% endraw %}",
      amountNoDecimals: "{% raw %}${{amount_no_decimals}}{% endraw %}",
      srcPantyFlatBack: "{{ 'Panty-Flat-Back.png' | asset_img_url: '150x' }}",
      srcsetPantyFlatBack: "{{ 'Panty-Flat-Back.png' | asset_img_url: '50x' }} 50w, {{ 'Panty-Flat-Back.png' | asset_img_url: '80x' }} 80w, {{ 'Panty-Flat-Back.png' | asset_img_url: '100x' }} 100w, {{ 'Panty-Flat-Back.png' | asset_img_url: '150x' }} 150w, {{ 'Panty-Flat-Back.png' | asset_img_url: '200x' }} 200w, {{ 'Panty-Flat-Back.png' | asset_img_url: '250x' }} 250w, {{ 'Panty-Flat-Back.png' | asset_img_url: '300x' }} 300w"
  }
</script>
{{ 'jquery.min.js' | asset_url | script_tag }}
{{ 'jquery.zoom.min.js' | asset_url | script_tag }}
{{ 'flickity.pkgd.min.js' | asset_url | script_tag }}
{{ 'byobv.js' | asset_url | script_tag }}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}

<script src="{{ 'collection.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'ajaxinate.min.js' | asset_url }}" defer="defer"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign view_class = 'medium-up-3 small-up-2'
-%}
<div class="section-{{ section.id }}-padding">
  {%- paginate collection.products by section.settings.products_per_page -%}
    <div class="boost-pfs-filter-wrapper-page">
      <div class="row byob-main-wrapper">
        <div class="medium-12 columns collection">
          {% if collection and collection.products_count > 0 %}
            <ul
              id="product-grid"
              class="paginate row {{ view_class }} grid product-grid grid--2-col-tablet-down grid--3-col-tablet grid--3-col-desktop"
            >
              {% for product in collection.products %}
                {% unless product.tags contains 'delisted' %}
                  {%- capture productImageSrc -%}
                                             {{ product.images.first | img_url: '160x' }}
                                         {%- endcapture -%}
                  {%- capture productImage -%}
                                             {{ product.images.first | img_url: '50x' }} 50w,
                                             {{ product.images.first | img_url: '80x' }} 80w,
                                             {{ product.images.first | img_url: '100x' }} 100w,
                                             {{ product.images.first | img_url: '150x' }} 150w,
                                             {{ product.images.first | img_url: '200x' }} 200w,
                                             {{ product.images.first | img_url: '250x' }} 250w,
                                             {{ product.images.first | img_url: '300x' }} 300w
                                         {%- endcapture -%}
                  {%- for image in product.images -%}
                    {%- if image.alt contains 'flat' -%}
                      {%- capture productImageSrc -%}
                                                     {{ image | img_url: '160x' }}
                                                 {%- endcapture -%}
                      {%- capture productImage -%}
                                                     {{ image | img_url: '50x' }} 50w,
                                                     {{ image | img_url: '80x' }} 80w,
                                                     {{ image | img_url: '100x' }} 100w,
                                                     {{ image | img_url: '150x' }} 150w,
                                                     {{ image | img_url: '200x' }} 200w,
                                                     {{ image | img_url: '250x' }} 250w,
                                                     {{ image | img_url: '300x' }} 300w
                                                 {%- endcapture -%}
                      {%- break -%}
                    {%- endif -%}
                  {%- endfor -%}
                  <li
                    class="grid__item product paginate-item product-{{ product.id }} column{% unless collection.handle == 'private-sale' %}{% if product.tags contains 'Private Sale' %} hidden{% endif %}{% if product.tags contains 'private sale' %} hidden{% endif %}{% endunless %}"
                    data-image-render="{{ productImage }}"
                    data-product-type="{{ product.type }}"
                    data-id="{{product.id}}"
                  >
                    {% include 'product-card-byobv', productImage: productImage, productImageSrc: productImageSrc %}
                  </li>
                  <!-- product paginate-item product-{{ product.id }} column -->
                {% endunless %}
              {% endfor %}
            </ul>
            <!-- paginate row {{ view_class }} -->
            <div id="AjaxinatePagination">
              {% if paginate.next %}
                <a
                  href="{{ paginate.next.url }}"
                  id="load-more-btn"
                  class="button button--secondary"
                  onclick="updateLoadingStatus();"
                  >Load More</a
                >
              {% endif %}
            </div>
            <div id="loading-status">
              <img src="{{ "loader.gif" | asset_url }}" alt="loading..." width="auto" height="auto" loading="lazy">
              loading...
            </div>
          {% else %}
            <p>{{ 'collections.general.no_matches' | t }}</p>
          {% endif %}
        </div>
        <!-- medium-12 columns -->
      </div>
      <!-- row -->
    </div>
  {%- endpaginate -%}
</div>

<script id="cartBYOB" type="text/json">
  {{ cart | json }}
</script>
<script id="cartBYOBTags" type="text/json">
  {
      {%- for item in cart.items -%}
          "{{ item.id -}}":{
              {%- assign single_image = 'no_product_image.jpg' | asset_url -%}
              {%- unless item.product.images.size == 0 -%}
  	{%- assign found_image = false -%}
  	{%- for image in item.product.images -%}
  		{%- if image.alt contains 'flat' and found_image == false -%}
                          {%- assign single_image = image | img_url: 'master' -%}
  			{%- assign found_image = true -%}
                          {%- break -%}
  		{%- endif -%}
  	{%- endfor -%}
  	{%- unless found_image -%}
                      {%- assign single_image = item.product.images[0] | img_url: 'master' -%}
  	{%- endunless -%}
  {%- endunless -%}
              "single_image": {{single_image | json}},
              "tags": {{item.product.tags | json}}
          }{%- unless forloop.last -%},{%- endunless %}
      {%- endfor -%}
  }
</script>
<script>
  const show_details_links = document.querySelectorAll(".show-details, .show-details-btn");

  show_details_links.forEach(show_details_link => {
    show_details_link.addEventListener('click', ()=>{
      if(document.querySelector(".reveal-open"))
      {
        document.querySelector(".reveal-open").style.display = "none";
        document.querySelector(".reveal-open").classList.remove("reveal-open");
      }

      modal_id = show_details_link.getAttribute("data-open");
      product_id = show_details_link.getAttribute("product_id");
      document.getElementById(modal_id).style.display = "block";
      document.getElementById(modal_id).parentElement.style.display = "block";
      document.getElementById(modal_id).classList.add("reveal-open");
      document.getElementsByTagName("body")[0].classList.add("is-reveal-open");
      var flkty = new Flickity(document.querySelector('#byob-carousel-' + product_id));
      flkty.resize()
    });
  });

  const modal_close_links = document.querySelectorAll(".close-button");

  modal_close_links.forEach(modal_close_link => {
    modal_close_link.addEventListener('click', ()=>{
      modal_close_link.parentElement.style.display = "none";
      modal_close_link.parentElement.parentElement.style.display = "none";
      modal_close_link.parentElement.classList.remove("reveal-open");
      document.getElementsByTagName("body")[0].classList.remove("is-reveal-open");
    });
  });

  window.addEventListener("scroll", function() {
    var stickyHeader = document.querySelector('#build-your-kit-sticky');
    var scrollThreshold = 500;
    var y = window.scrollY || document.documentElement.scrollTop;

    if (y > scrollThreshold) {
      stickyHeader.classList.add('stick-to-bottom');
    } else {
      stickyHeader.classList.remove('stick-to-bottom');
    }
  });
</script>
<div class="scroll-sticky-section">
  {% render 'scroll-top-sticky' %}
</div>

{% schema %}
{
  "name": "ByoBv Product Grid",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "Products per page"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
