<link rel="stylesheet" href="{{ 'section-rich-text.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-rich-text.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  .collapsible-rich-text__blocks a {
    color: {{ section.settings.link_color }} !important;
    font-weight: 500;
    text-decoration: none;
    outline: none;
  }
  #show_more_link, #show_less_link {
    border-bottom:none;
  }
  .collapsible-rich-text__blocks {
    border-top: 1px solid #ececec;
    padding-top: 30px;
  }
  @media screen and (min-width: 990px) {
    .collapsible-rich-text__blocks {
      max-width: 100rem !important;
    }
  }
{%- endstyle -%}

<div class="isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="rich-text content-container color-{{ section.settings.color_scheme }} gradient{% if section.settings.full_width %} rich-text--full-width content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="rich-text__wrapper rich-text__wrapper--{{ section.settings.desktop_content_position }}{% if section.settings.full_width %} page-width{% endif %}">
      <div class="rich-text__blocks collapsible-rich-text__blocks {{ section.settings.content_alignment }}">
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when 'heading' -%}
              <h2 class="collapsible_rich-text__heading rich-text__heading rte {{ block.settings.heading_size }}" {{ block.shopify_attributes }}>
                <span class="text-ink">
                  {{ block.settings.heading | replace: 'p>', 'span>' }}
                </span>
              </h2>
              <style>
                  .collapsible_rich-text__heading {
                    font-size: {{ block.settings.heading_font_size }}px;
                    color:{{ section.settings.text_color }};
                  }
                  @media screen and (max-width: 768px) {
                    .collapsible_rich-text__heading {
                      font-size: {{ block.settings.heading_font_size_mobile }}px;
                    }
                  }
              </style>
            {%- when 'text' -%}
              <div class="collapsible_rich-text rich-text__text rte" {{ block.shopify_attributes }}>
                {{ block.settings.short_text }}
                <div id="full_description" style="display:none;">
                  <br/>
                  {{ block.settings.full_text }}
                </div>
              </div>
              <style>
                  .collapsible_rich-text p {
                    font-size: {{ block.settings.content_font_size }}px !important;
                    color:{{ section.settings.text_color }};
                  }
                  @media screen and (max-width: 768px) {
                    .collapsible_rich-text p {
                        font-size: {{ block.settings.content_font_size_mobile }}px !important;
                    }
                  }
              </style>
            {%- when 'button' -%}
              <div
                class="rich-text__buttons{% if block.settings.button_label != blank and block.settings.button_label_2 != blank %} rich-text__buttons--multiple{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- if block.settings.button_label != blank -%}
                  <a id="show_more_link" role="link" href="javascript:void(0);"
                    class="button button--primary"
                  >
                    {{- block.settings.button_label | escape -}}
                  </a>
                {%- endif -%}
                {%- if block.settings.button_label_2 != blank -%}
                  <a id="show_less_link" style="display:none;" role="link" href="javascript:void(0);"
                    class="button button--primary"
                  >
                    {{- block.settings.button_label_2 | escape -}}
                  </a>
                {%- endif -%}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("show_more_link").onclick = function() {
    document.getElementById("full_description").style.display = "block";
    document.getElementById("show_less_link").style.display = "block";
    document.getElementById("show_more_link").style.display = "none";
  };

  document.getElementById("show_less_link").onclick = function() {  
    document.getElementById("full_description").style.display = "none";
    document.getElementById("show_less_link").style.display = "none";
    document.getElementById("show_more_link").style.display = "block";
  };
</script>

{% schema %}
{
  "name": "t:sections.collapsible-rich-text.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.collapsible-rich-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.collapsible-rich-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.collapsible-rich-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.collapsible-rich-text.settings.desktop_content_position.label",
      "info": "t:sections.collapsible-rich-text.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.collapsible-rich-text.settings.content_alignment.options__1.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.collapsible-rich-text.settings.content_alignment.options__2.label"
        },
        {
          "value": "text-right",
          "label": "t:sections.collapsible-rich-text.settings.content_alignment.options__3.label"
        }
      ],
      "default": "text-center",
      "label": "t:sections.collapsible-rich-text.settings.content_alignment.label"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
        "type": "color",
        "id": "text_color",
        "default": "#000000",
        "label": "Text Color"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.collapsible-rich-text.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Hyperlink Color",
      "default": "#000"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.collapsible-rich-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "default": "<p>Talk about your brand</p>",
          "label": "t:sections.collapsible-rich-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "range",
          "id": "heading_font_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Heading Font Size Desktop",
          "default": 32
        },
        {
          "type": "range",
          "id": "heading_font_size_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Heading Font Size Mobile",
          "default": 32
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.collapsible-rich-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "short_text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.collapsible-rich-text.blocks.text.settings.short_text.label"
        },
        {
          "type": "richtext",
          "id": "full_text",
          "default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>",
          "label": "t:sections.collapsible-rich-text.blocks.text.settings.full_text.label"
        },
        {
          "type": "range",
          "id": "content_font_size",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Content Font Size Desktop",
          "default": 18
        },
        {
          "type": "range",
          "id": "content_font_size_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Content Font Size Mobile",
          "default": 18
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.collapsible-rich-text.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "Button label",
          "label": "t:sections.collapsible-rich-text.blocks.buttons.settings.button_label_1.label"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "t:sections.collapsible-rich-text.blocks.buttons.settings.button_label_2.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collapsible-rich-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}