{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- if section.settings.image_height == 'adapt' and section.settings.image != blank -%}
  {%- style -%}
    @media screen and (max-width: 749px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before,
      #Banner-{{ section.id }}:not(.banner--mobile-bottom) .banner__content::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }

    @media screen and (min-width: 750px) {
      #Banner-{{ section.id }}::before,
      #Banner-{{ section.id }} .banner__media::before {
        padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;
        content: '';
        display: block;
      }
    }
  {%- endstyle -%}
{%- endif -%}

{%- style -%}
  
  #Banner-{{ section.id }} .color_content .button--primary,
  #Banner-{{ section.id }} .color_content {
    color: {{ section.settings.banner_color }};
  } 
  #Banner-{{ section.id }} .color_content .button--primary{
    border-bottom-color: {{ section.settings.banner_color }};
  }
  
  #Banner-{{ section.id }} .banner__text {
    font-size : {{ section.settings.content_font_size }}px;
    color: {{ section.settings.banner_color }};
  }
  @media screen and (max-width: 768px) {
      #Banner-{{ section.id }} .banner__text {
        font-size: {{section.settings.content_font_mobile_size }}px;
        color: {{ section.settings.banner_color_mobile }};
      }
  }
  #Banner-{{ section.id }} .color_content .banner__heading {
    font-size: {{ section.settings.heading_font_size }}px;
    color: {{ section.settings.banner_color }};
  }
  @media screen and (max-width: 768px) {
    #Banner-{{ section.id }} .color_content .banner__heading {
      font-size: {{section.settings.heading_font_mobile_size }}px;
      color: {{ section.settings.banner_color_mobile }};
    }
  }
  .banner-image-version-two .banner__text {
      margin-bottom: 44px;
  }
  .banner-image-version-two .banner__heading {
    margin-bottom: 10px;
    line-height: 1.4;
}
  
  @media screen and (max-width: 749px) {
    #Banner-{{ section.id }}::after {
      opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    }
    #Banner-{{ section.id }} .color_content .button--primary,
    #Banner-{{ section.id }} .color_content {
      color: {{ section.settings.banner_color_mobile }};
    } 
    #Banner-{{ section.id }} .color_content .button--primary{
      border-bottom-color: {{ section.settings.banner_color_mobile }};
    } 
  }
 
{%- endstyle -%}

<div
  id="Banner-{{ section.id }}"
  class="banner banner-image-version-two banner--content-align-{{ section.settings.desktop_content_alignment }} banner--content-align-mobile-{{ section.settings.mobile_content_alignment }} banner--{{ section.settings.image_height }}{% if section.settings.stack_images_on_mobile and section.settings.image != blank  %} banner--stacked{% endif %}{% if section.settings.image_height == 'adapt' and section.settings.image != blank %} banner--adapt{% endif %}{% if section.settings.show_text_below %} banner--mobile-bottom{%- endif -%}{% if section.settings.show_text_box == false %} banner--desktop-transparent{% endif %} {% if section.settings.show_video == true %} video_banner_section {% endif %}"
>
  
  {%- if section.settings.image != blank -%}
  {% assign button_link = '' %}
  {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'buttons' -%}
          {% assign button_link = block.settings.button_link_1 %}
        {%- endcase -%}
  {%- endfor -%}
  
    
    <div class="banner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
      {%- liquid
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
        assign image_class = 'mobile_hide'
        assign sizes = '100vw'
      -%}
      {{
        section.settings.image
        | image_url: width: 3840
        | image_tag:
          loading: 'lazy',
          width: section.settings.image.width,
          height: image_height,
          class: image_class,
          sizes: sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
      {%- liquid
        assign image_height = section.settings.image_mobile.width | divided_by: section.settings.image_mobile.aspect_ratio
        assign image_class_mobile = 'desktop_hide'
        assign sizes = '100vw'
      -%}
      {{
        section.settings.image_mobile
        | image_url: width: 3840
        | image_tag:
          loading: 'lazy',
          width: section.settings.image_mobile.width,
          height: image_height,
          class: image_class_mobile,
          sizes: sizes,
          widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
      }}
    </div>
  {%- else -%}
    <div class="banner__media media{% if section.settings.image == blank %} placeholder{% endif %}">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endif -%}
  <div class="banner__content banner__content--{{ section.settings.desktop_content_position }} page-width">
    <div class="banner__box content-container content-container--full-width-mobile color_content">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <h2 class="banner__heading {{ section.settings.heading_font_style }}" {{ block.shopify_attributes }}>
              <span>{{ block.settings.heading | escape }}</span>
            </h2>
          {%- when 'text' -%}
            <div class="banner__text {{ section.settings.text_style }}" {{ block.shopify_attributes }}>
              {{ block.settings.text }}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-banner-version-two.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner-version-two.settings.image.label"
    },
    {
      "type": "image_picker",
      "id": "image_mobile",
      "label": "t:sections.image-banner-version-two.settings.image_mobile.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner-version-two.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-banner-version-two.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-banner-version-two.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-banner-version-two.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-banner-version-two.settings.image_height.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-banner-version-two.settings.image_height.label",
      "info": "t:sections.image-banner-version-two.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "top-right",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__3.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__4.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__5.label"
        },
        {
          "value": "middle-right",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__6.label"
        },
        {
          "value": "bottom-left",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__7.label"
        },
        {
          "value": "bottom-center",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__8.label"
        },
        {
          "value": "bottom-right",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_position.options__9.label"
        }
      ],
      "default": "middle-center",
      "label": "t:sections.image-banner-version-two.settings.desktop_content_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_box",
      "default": true,
      "label": "t:sections.image-banner-version-two.settings.show_text_box.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-banner-version-two.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.image-banner-version-two.settings.desktop_content_alignment.label"
    },
    {
        "type": "color",
        "id": "banner_color",
        "default": "#FFFFFF",
        "label": "t:sections.image-banner-version-two.settings.banner_color.label"
    },
    {
        "type": "color",
        "id": "banner_color_mobile",
        "default": "#FFFFFF",
        "label": "t:sections.image-banner-version-two.settings.banner_color_mobile.label"
    },
    {
        "type": "range",
        "id": "heading_font_size",
        "min": 0,
        "max": 100,
        "step": 1,
        "label": "t:sections.image-banner-version-two.settings.heading_font_size.label",
        "default": 32
    },
    {
        "type": "range",
        "id": "heading_font_mobile_size",
        "min": 0,
        "max": 40,
        "step": 1,
        "label": "t:sections.image-banner-version-two.settings.heading_font_mobile_size.label",
        "default": 22
    },
    {
        "type": "select",
        "id": "heading_font_style",
        "options": [
          {
            "value": "regular",
            "label": "t:sections.image-banner-version-two.settings.heading_font_style.options__1.label"
          },
          {
            "value": "italic",
            "label": "t:sections.image-banner-version-two.settings.heading_font_style.options__2.label"
          }
        ],
        "default": "regular",
        "label": "t:sections.image-banner-version-two.settings.heading_font_style.label"
    },
    {
        "type": "select",
        "id": "text_style",
        "options": [
          {
            "value": "body",
            "label": "t:sections.image-banner-version-two.settings.text_style.options__1.label"
          },
          {
            "value": "heading_font",
            "label": "t:sections.image-banner-version-two.settings.text_style.options__2.label"
          }
        ],
        "default": "body",
        "label": "t:sections.image-banner-version-two.settings.text_style.label"
    },
    {
      "type": "range",
      "id": "content_font_size",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "t:sections.image-banner-version-two.settings.content_font_size.label",
      "default": 13
    },
    {
      "type": "range",
      "id": "content_font_mobile_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "label": "t:sections.image-banner-version-two.settings.content_font_mobile_size.label",
      "default": 13
    },
    {
        "type": "header",
        "content": "t:sections.image-banner-version-two.settings.header.content"
    },
    {
        "type": "select",
        "id": "mobile_content_alignment",
        "options": [
          {
            "value": "left",
            "label": "t:sections.image-banner-version-two.settings.mobile_content_alignment.options__1.label"
          },
          {
            "value": "center",
            "label": "t:sections.image-banner-version-two.settings.mobile_content_alignment.options__2.label"
          },
          {
            "value": "right",
            "label": "t:sections.image-banner-version-two.settings.mobile_content_alignment.options__3.label"
          }
        ],
        "default": "center",
        "label": "t:sections.image-banner-version-two.settings.mobile_content_alignment.label"
    },
    {
      "type": "checkbox",
      "id": "stack_images_on_mobile",
      "default": true,
      "label": "t:sections.image-banner-version-two.settings.stack_images_on_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "show_text_below",
      "default": true,
      "label": "t:sections.image-banner-version-two.settings.show_text_below.label"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-banner-version-two.blocks.heading.name",
      "limit": 3,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Image banner",
          "label": "t:sections.image-banner-version-two.blocks.heading.settings.heading.label"
        }
      ] 
    },
    {
      "type": "text",
      "name": "t:sections.image-banner-version-two.blocks.text.name",
      "limit": 3,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.image-banner-version-two.blocks.text.settings.text.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-banner-version-two.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
