{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- if template == 'cart' -%}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
<div class="page-width combine section-{{ section.id }}-padding">
  <cart-items class="{% if cart == empty %} is-empty{% else %} {% endif %}">
    <div class="title-wrapper-with-link mobile_hide">
      <h1 class="title title--primary">{{ 'sections.cart.title' | t }}</h1>
      <!--
        <a href="{{ routes.all_products_collection_url }}" class="underlined-link">{{ 'general.continue_shopping' | t }}</a>
      -->
    </div>

    <div class="cart__warnings">
      <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
      <p>{{ 'sections.cart.empty_content' | t }}</p>
      <p>{{ 'sections.cart.continue_browsing_html' | t }}</p>
      {% comment %}
        <a href="{{ routes.all_products_collection_url }}" class="button">
          {{ 'general.continue_shopping' | t }}
        </a>

        {%- if shop.customer_accounts_enabled and customer == null -%}
          <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
          <p class="cart__login-paragraph">
            {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
          </p>
        {%- endif -%}
      {% endcomment %}
    </div>

    <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
      <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
        <div class="js-contents">
          {%- if cart != empty -%}
            <table class="cart-items">
              <caption class="visually-hidden">
                {{ 'sections.cart.title' | t }}
              </caption>
              <!--
                <thead>
                  <tr>
                    <th class="caption-with-letter-spacing" colspan="2" scope="col">
                      {{ 'sections.cart.headings.product' | t }}
                    </th>
                    <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col">
                      {{ 'sections.cart.headings.total' | t }}
                    </th>
                    <th
                      class="cart-items__heading--wide cart-items__heading--quantity small-hide caption-with-letter-spacing"
                      colspan="1"
                      scope="col"
                    >
                      {{ 'sections.cart.headings.quantity' | t }}
                    </th>
                    <th class="small-hide right caption-with-letter-spacing" colspan="1" scope="col">
                      {{ 'sections.cart.headings.total' | t }}
                    </th>
                  </tr>
                </thead>
              -->

              <tbody>
                {% liquid
                    assign cartItemSize = 0
                    assign cartItemBYOB = false
                    assign cartItemsBYOB = ''
                    for cartItem in cart.items
                      if cartItem.properties['_bundle_id']
                        assign cartItemBYOB = true
                        unless cartItemsBYOB contains cartItem.properties['_bundle_id']
                          if cartItemsBYOB != ''
                            assign cartItemsBYOB = cartItemsBYOB | append: ','
                          endif
                          assign cartItemsBYOB = cartItemsBYOB | append: cartItem.properties['_bundle_id']
                        endunless
                      endif
                    endfor
                    if cartItemBYOB == true
                      assign cartItemsBYOB = cartItemsBYOB | split: ','
                    endif
                  %}

                  {% if cartItemsBYOB.size > 0 %}
                    {% for BYOBItem in cartItemsBYOB %}
                      {% liquid
                        assign itemBYOBSize = 0
                        assign itemBYOBSize = 0
                        assign itemBYOBPrice = 0
                        assign itemBYOBOriginalPrice = 0
                        assign itemBYOBDiscountsApplied = false
                        assign itemBYOBEdit = ""
                        assign itemBYOBRemove = ""
                        assign itemBYOBFinalSale = 0
                        for item in cart.items
                          if item.properties['_bundle_id'] == BYOBItem
                            if itemBYOBEdit != ""
                              assign itemBYOBEdit = itemBYOBEdit | append: "-;-"
                            endif
                            assign itemBYOBEdit = itemBYOBEdit | append: item.key | append: '-:-' | append: item.quantity
                            if itemBYOBRemove != ""
                              assign itemBYOBRemove = itemBYOBRemove | append: "&"
                            endif
                            assign itemBYOBRemove = itemBYOBRemove | append: item.key
                            assign itemBYOBSize = itemBYOBSize | plus: item.quantity
                            assign itemBYOBPrice = itemBYOBPrice | plus: item.line_price
                            assign itemBYOBOriginalPrice = itemBYOBOriginalPrice | plus: item.original_line_price
                            if itemBYOBDiscountsApplied != true
                              if item.line_price == item.original_line_price
                                assign itemBYOBDiscountsApplied = false
                              else
                                assign itemBYOBDiscountsApplied = true
                              endif
                            endif
                            if item.product.tags contains 'badge:final sale'
                              assign itemBYOBFinalSale = itemBYOBFinalSale | plus: 1
                            endif
                          endif
                        endfor
                        if itemBYOBSize <= 3
                          assign itemBYOBimage = settings.bundle_image_3 | img_url: 'medium'
                        elsif itemBYOBSize <= 4
                          assign itemBYOBimage = settings.bundle_image_4 | img_url: 'medium'
                        else
                          assign itemBYOBimage = settings.bundle_image_5 | img_url: 'medium'
                        endif
                        if itemBYOBFinalSale > 0
                          if itemBYOBFinalSale > 1
                            assign itemBYOBFinalSale = itemBYOBFinalSale | append: ' items in your bundle are final sale'
                          else
                            assign itemBYOBFinalSale = itemBYOBFinalSale | append: ' ítem in your bundle is final sale'
                          endif
                        else
                          assign itemBYOBFinalSale = ''
                        endif
                        
                        assign itemBYOBRemove = routes.cart_update_url | append: '?' | append: itemBYOBRemove
                      -%}
                      <tr class="cart-item row cart-products-product" id="CartItem-bundle-{{ item.index | plus: 1 }}" data-id="bundle-{{itemBYOBRemove}}">
                        <td class="cart-item__media">
                          {% if itemBYOBimage %}
                            <div class="cart-item__image-container gradient global-media-settings">
                              <img
                                src="{{ itemBYOBimage }}"
                                class="cart-item__image cart-product-image"
                                alt="{{ itemBYOBimage.alt | escape }}"
                                loading="lazy"
                                width="150"
                                height="auto"
                              >
                            </div>
                          
                          {% endif %}
                        </td><!-- large-3 medium-4 small-5 columns-->
                       <td class="cart-item__details">
                          <div class="cart-product-name cart-bundle-name">{{ settings.bundle_text }}</div>

                          <div class="cart-product-money cart-bundle-price" data-price="{{ itemBYOBPrice | money }}" data-price-original="{{ itemBYOBOriginalPrice }}">
                            <span class="money" data-pricejs="{{itemBYOBPrice | money}}">{{ itemBYOBPrice | money }}</span>
                            {% if itemBYOBDiscountsApplied %}
                            <del><span class="money" data-pricejs="{{ itemBYOBOriginalPrice | money }}">{{ itemBYOBOriginalPrice | money }}</span></del>
                            {% endif %}
                          </div>
                          <div class="cart-product-preorder">{{ itemBYOBFinalSale }}</div>
                          <div class="cartbundle_box">
                          <div class="cart-bundle-edit" style="display:inline-block;padding:0 5px;"><a href="/collections/build-your-bundle?edit-bundle={{ itemBYOBEdit }}" style="font-size:10.4px;text-transform:uppercase;">Edit</a></div>
                          
                      <div class="cart-bundle-remove" style="display:inline-block;padding:0 5px;">
                            <a
                              href="javascript:void(0);"
                              onclick="window.theme.removeBundle('{{ itemBYOBRemove }}');"
                              data-ids="{{ itemBYOBRemoveIds }}"
                              class="ajaxifyCart--removeBundle"
                              style="font-size:10.4px;text-transform:uppercase;"
                              >Remove</a
                            ></div>
                          </div>    
                      </td>
                      </tr>
                    {% endfor %}
                {% endif %}
                {%- for item in cart.items -%}
                  {%- if item.properties['_product_from'] != 'byob' -%}
                  <tr class="cart-item" id="CartItem-{{ item.index | plus: 1 }}">
                    <td class="cart-item__media">
                      {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                        <div class="cart-item__image-container gradient global-media-settings">
                          <img
                            src="{{ item.image | image_url: width: 300 }}"
                            class="cart-item__image"
                            alt="{{ item.image.alt | escape }}"
                            loading="lazy"
                            width="150"
                            height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                          >
                        </div>
                      {% endif %}
                    </td>

                    <td class="cart-item__details">
                      {%- if settings.show_vendor -%}
                        <p class="caption-with-letter-spacing">{{ item.product.vendor }}</p>
                      {%- endif -%}

                      <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

                      {% if item.product.tags contains 'preorder' %}
                          <div class="cart-product-preorder">
                            Preorder, will ship {% if item.product.description contains '<!-- back-order -->'  %}<b>{{ item.product.description | split: '<!-- back-order -->' | last | split: '<!-- end back-order -->' | first }}</b>{% else %}when it becomes available{% endif %}.
                          </div><!-- preorder -->
                      {% endif %}
                      {% if item.product.tags contains 'badge:final sale' %}
                          <div class="cart-product-final-sale">
                            Final Sale
                          </div><!-- cart-product-final-sale -->
                      {% endif %}

                      {%- if item.product.has_only_default_variant == false
                        or item.properties.size != 0
                        or item.selling_plan_allocation != null
                      -%}
                        <dl>
                          {%- if item.product.has_only_default_variant == false -%}
                            <div class="product-option">
                              <dt>
                                {%- for option in item.options_with_values -%}
                                  {%- unless forloop.last -%}
                                    {{ option.name }}/
                                  {%- else -%}
                                    {{- option.name }}:
                                  {%- endunless -%}
                                {%- endfor -%}
                              </dt>
                              <dd>
                                <cart-size-button data-index="{{ item.index | plus: 1 }}">
                                  <select
                                    class="variant__input"
                                    data-variant-id="{{ item.variant.id }}"
                                    data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                    id="Variant-{{ item.index | plus: 1 }}"
                                    data-index="{{ item.index | plus: 1 }}"
                                  >
                                    {% for variant in item.product.variants %}
                                      {% if variant.available %}
                                        <option
                                          class=""
                                          {% if item.variant.title == variant.title %}
                                            selected
                                          {% endif %}
                                          value="{{ variant.id }}"
                                        >
                                          {{ variant.title }}
                                        </option>
                                      {% endif %}
                                    {% endfor %}
                                  </select>
                                </cart-size-button>
                                {% comment %}
                                  {%- for option in item.options_with_values -%}
                                      {%- unless forloop.last -%}
                                        {{ option.value }} / {% else %}{{ option.value }}
                                      {%- endunless -%}
                                  {%- endfor -%}
                                {% endcomment %}
                              </dd>
                            </div>
                          {%- endif -%}

                          {%- for property in item.properties -%}
                            {%- assign property_first_char = property.first | slice: 0 -%}
                            {%- if property.last != blank and property_first_char != '_' -%}
                              <div class="product-option">
                                <dt>{{ property.first }}:</dt>
                                <dd>
                                  {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}" class="link" target="_blank">
                                      {{ property.last | split: '/' | last }}
                                    </a>
                                  {%- else -%}
                                    {{ property.last }}
                                  {%- endif -%}
                                </dd>
                              </div>
                            {%- endif -%}
                          {%- endfor -%}
                        </dl>
                        {%- if item.original_price != item.final_price -%}
                          <div class="cart-item__discounted-prices">
                            <span class="visually-hidden">
                              {{ 'products.product.price.regular_price' | t }}
                            </span>
                            <s class="cart-item__old-price product-option">
                              {{- item.original_price | money -}}
                            </s>
                            <span class="visually-hidden">
                              {{ 'products.product.price.sale_price' | t }}
                            </span>
                            <strong class="cart-item__final-price product-option">
                              {{ item.final_price | money }}
                            </strong>
                          </div>
                        {%- else -%}
                          <div class="product-option product_option_price">
                            {{ item.original_price | money }}
                          </div>
                        {%- endif -%}
                        <div class="cart-item__quantity-wrapper">
                          <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                            {{ 'products.product.quantity.label' | t }}:
                          </label>
                          <quantity-input class="quantity cart-quantity">
                            <button class="quantity__button no-js-hidden" name="minus" type="button">
                              <span class="visually-hidden">
                                {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                              </span>
                              {% render 'icon-minus' %}
                            </button>
                            <input
                              class="quantity__input"
                              data-quantity-variant-id="{{ item.variant.id }}"
                              type="number"
                              name="updates[]"
                              value="{{ item.quantity }}"
                              {% # theme-check-disable %}
                              data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                              min="{{ item.variant.quantity_rule.min }}"
                              {% if item.variant.quantity_rule.max != null %}
                                max="{{ item.variant.quantity_rule.max }}"
                              {% endif %}
                              step="{{ item.variant.quantity_rule.increment }}"
                              {% # theme-check-enable %}
                              aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                              id="Quantity-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                            <button class="quantity__button no-js-hidden" name="plus" type="button">
                              <span class="visually-hidden">
                                {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                              </span>
                              {% render 'icon-plus' %}
                            </button>
                          </quantity-input>
                          <cart-remove-button
                            id="Remove-{{ item.index | plus: 1 }}"
                            class="custom_remove"
                            data-index="{{ item.index | plus: 1 }}"
                          >
                            <a
                              href="{{ item.url_to_remove }}"
                              class="button button--tertiary"
                              aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                            >
                              &#215;
                            </a>
                          </cart-remove-button>
                        </div>
                        <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                          <small class="cart-item__error-text"></small>
                          <svg
                            aria-hidden="true"
                            focusable="false"
                            class="icon icon-error"
                            viewBox="0 0 13 13"
                          >
                            <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                            <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                            <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                            <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                          </svg>
                        </div>
                        <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                      {%- endif -%}

                      <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                        {%- for discount in item.line_level_discount_allocations -%}
                          <li class="discounts__discount">
                            {%- render 'icon-discount' -%}
                            {{ discount.discount_application.title }}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </td>
                    {% comment %}
                       <td class="cart-item__totals right medium-hide large-up-hide">
                        <div class="loading-overlay hidden">
                          <div class="loading-overlay__spinner">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </div>
                        <div class="cart-item__price-wrapper">
                          {%- if item.original_line_price != item.final_line_price -%}
                            <dl class="cart-item__discounted-prices">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                              </dd>
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd class="price price--end">
                                {{ item.final_line_price | money }}
                              </dd>
                            </dl>
                          {%- else -%}
                            <span class="price price--end">
                              {{ item.original_line_price | money }}
                            </span>
                          {%- endif -%}

                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="unit-price caption">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.unit_price | money }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden"
                                >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                              >
                              {%- if item.unit_price_measurement.reference_value != 1 -%}
                                {{- item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                      </td>
                      {%- liquid
                        assign has_qty_rules = false
                        if item.variant.quantity_rule.increment > 1 or item.variant.quantity_rule.min > 1 or item.variant.quantity_rule.max != null
                          assign has_qty_rules = true
                        endif

                        assign has_vol_pricing = false
                        if item.variant.quantity_price_breaks.size > 0
                          assign has_vol_pricing = true
                        endif
                      -%}
                      <td class="cart-item__quantity{% if has_qty_rules or has_vol_pricing %} cart-item__quantity--info{% endif %}">
                        <quantity-popover>
                          <div class="cart-item__quantity-wrapper quantity-popover-wrapper">
                            <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                              {{ 'products.product.quantity.label' | t }}
                            </label>
                            <div class="quantity-popover-container{% if has_qty_rules or has_vol_pricing %} quantity-popover-container--hover{% endif %}">
                              {%- if has_qty_rules or has_vol_pricing -%}
                                <button
                                  type="button"
                                  aria-expanded="false"
                                  class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide no-js-hidden"
                                >
                                  {% render 'icon-info' %}
                                </button>
                              {%- endif -%}
                              <quantity-input class="quantity cart-quantity">
                                <button class="quantity__button no-js-hidden" name="minus" type="button">
                                  <span class="visually-hidden">
                                    {{- 'products.product.quantity.decrease' | t: product: item.product.title | escape -}}
                                  </span>
                                  {% render 'icon-minus' %}
                                </button>
                                <input
                                  class="quantity__input"
                                  data-quantity-variant-id="{{ item.variant.id }}"
                                  type="number"
                                  name="updates[]"
                                  value="{{ item.quantity }}"
                                  {% # theme-check-disable %}
                                  data-cart-quantity="{{ cart | item_count_for_variant: item.variant.id }}"
                                  min="{{ item.variant.quantity_rule.min }}"
                                  {% if item.variant.quantity_rule.max != null %}
                                    max="{{ item.variant.quantity_rule.max }}"
                                  {% endif %}
                                  step="{{ item.variant.quantity_rule.increment }}"
                                  {% # theme-check-enable %}
                                  aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                                  id="Quantity-{{ item.index | plus: 1 }}"
                                  data-index="{{ item.index | plus: 1 }}"
                                >
                                <button class="quantity__button no-js-hidden" name="plus" type="button">
                                  <span class="visually-hidden">
                                    {{- 'products.product.quantity.increase' | t: product: item.product.title | escape -}}
                                  </span>
                                  {% render 'icon-plus' %}
                                </button>
                              </quantity-input>
                            </div>
                            <cart-remove-button
                              id="Remove-{{ item.index | plus: 1 }}"
                              data-index="{{ item.index | plus: 1 }}"
                            >
                              <a
                                href="{{ item.url_to_remove }}"
                                class="button button--tertiary"
                                aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}"
                              >
                                {% render 'icon-remove' %}
                              </a>
                            </cart-remove-button>
                          </div>
                          {%- if has_qty_rules or has_vol_pricing -%}
                            <button
                              type="button"
                              class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary medium-hide large-up-hide"
                              aria-expanded="false"
                            >
                              {% render 'icon-info' %}
                              <span>
                                {%- if has_vol_pricing -%}
                                  {{ 'products.product.volume_pricing.note' | t }}
                                {%- elsif has_qty_rules -%}
                                  {{ 'products.product.quantity.note' | t }}
                                {%- endif -%}
                              </span>
                            </button>
                          {%- endif -%}
                          {%- if has_vol_pricing or has_qty_rules -%}
                            <div
                              class="cart-items__info global-settings-popup quantity-popover__info"
                              tabindex="-1"
                              hidden
                            >
                              {%- if has_qty_rules == false -%}
                                <span class="volume-pricing-label caption">
                                  {{- 'products.product.volume_pricing.title' | t -}}
                                </span>
                              {%- endif -%}
                              <div class="quantity__rules caption no-js-hidden">
                                {%- if item.variant.quantity_rule.increment > 1 -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.multiples_of'
                                      | t: quantity: item.variant.quantity_rule.increment
                                    -}}
                                  </span>
                                {%- endif -%}
                                {%- if item.variant.quantity_rule.min > 1 -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.minimum_of'
                                      | t: quantity: item.variant.quantity_rule.min
                                    -}}
                                  </span>
                                {%- endif -%}
                                {%- if item.variant.quantity_rule.max != null -%}
                                  <span class="divider">
                                    {{-
                                      'products.product.quantity.maximum_of'
                                      | t: quantity: item.variant.quantity_rule.max
                                    -}}
                                  </span>
                                {%- endif -%}
                              </div>
                              <button
                                class="button-close button button--tertiary medium-hide large-up-hide"
                                type="button"
                                aria-label="{{ 'accessibility.close' | t }}"
                              >
                                {%- render 'icon-close' -%}
                              </button>
                              {%- if item.variant.quantity_price_breaks.size > 0 -%}
                                <volume-pricing class="parent-display">
                                  <ul class="list-unstyled">
                                    <li>
                                      <span>{{ item.variant.quantity_rule.min }}+</span>
                                      {%- assign price = item.variant.price | money_with_currency -%}
                                      <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                    </li>
                                    {%- for price_break in item.variant.quantity_price_breaks -%}
                                      <li>
                                        <span>
                                          {{- price_break.minimum_quantity -}}
                                          <span aria-hidden="true">+</span></span
                                        >
                                        {%- assign price = price_break.price | money_with_currency -%}
                                        <span> {{ 'sections.quick_order_list.each' | t: money: price }}</span>
                                      </li>
                                    {%- endfor -%}
                                  </ul>
                                </volume-pricing>
                              {%- endif -%}
                            </div>
                          {%- endif -%}
                          <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                            <small class="cart-item__error-text"></small>
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="icon icon-error"
                              viewBox="0 0 13 13"
                            >
                              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                              <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                              <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                            </svg>
                          </div>
                        </quantity-popover>
                      </td>

                      <td class="cart-item__totals right small-hide">
                        <div class="loading-overlay hidden">
                          <div class="loading-overlay__spinner">
                            <svg
                              aria-hidden="true"
                              focusable="false"
                              class="spinner"
                              viewBox="0 0 66 66"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                            </svg>
                          </div>
                        </div>

                        <div class="cart-item__price-wrapper">
                          {%- if item.original_line_price != item.final_line_price -%}
                            <dl class="cart-item__discounted-prices">
                              <dt class="visually-hidden">
                                {{ 'products.product.price.regular_price' | t }}
                              </dt>
                              <dd>
                                <s class="cart-item__old-price price price--end">
                                  {{ item.original_line_price | money }}
                                </s>
                              </dd>
                              <dt class="visually-hidden">
                                {{ 'products.product.price.sale_price' | t }}
                              </dt>
                              <dd class="price price--end">
                                {{ item.final_line_price | money }}
                              </dd>
                            </dl>
                          {%- else -%}
                            <span class="price price--end">
                              {{ item.original_line_price | money }}
                            </span>
                          {%- endif -%}

                          {%- if item.variant.available and item.unit_price_measurement -%}
                            <div class="unit-price caption">
                              <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                              {{ item.unit_price | money }}
                              <span aria-hidden="true">/</span>
                              <span class="visually-hidden"
                                >&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span
                              >
                              {%- if item.unit_price_measurement.reference_value != 1 -%}
                                {{- item.unit_price_measurement.reference_value -}}
                              {%- endif -%}
                              {{ item.unit_price_measurement.reference_unit }}
                            </div>
                          {%- endif -%}
                        </div>
                      </td>
                    {% endcomment %}
                  </tr>
                  {%- endif -%}
                {%- endfor -%}
              </tbody>
            </table>
          {%- endif -%}
        </div>
      </div>

      <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
      <p
        class="visually-hidden"
        id="shopping-cart-line-item-status"
        aria-live="polite"
        aria-hidden="true"
        role="status"
      >
        {{ 'accessibility.loading' | t }}
      </p>
    </form>
  </cart-items>
  <div
    class="sidetotal {% if cart == empty %} is-empty{% endif %}"
    id="main-cart-footer"
    data-id=""
  >
    <div class="cart-summary">
      <h5>Order Summary</h5>
      <div class="row original-cart-total">
        <div class="total">
          <div>
            Subtotal <span class="money">{{ cart.total_price | money }}</span>
          </div>
        </div>
      </div>
      <div class="row cart-tax">
        <div class="total">
          <div>Tax/Shipping <span class="money">Calculated at checkout</span></div>
        </div>
      </div>
      <div class="row cart-total">
        <div class="total">
          <div class="cart-total totals__total">
            {{ 'sections.cart.estimated_total' | t }}
            <span class="money totals__total-value">{{ cart.total_price | money }}</span>
          </div>
        </div>
      </div>
      <div class="cart__ctas">
        <noscript>
          <button type="submit" class="cart__update-button button button--secondary" form="cart">
            {{ 'sections.cart.update' | t }}
          </button>
        </noscript>
        <button
          type="submit"
          id="checkout"
          class="cart__checkout-button button"
          name="checkout"
          {% if cart == empty %}
            disabled
          {% endif %}
          form="cart"
        >
          {{ 'sections.cart.checkout' | t }}
        </button>
      </div>
      {%- if additional_checkout_buttons -%}
        <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
          {{ content_for_additional_checkout_buttons }}
        </div>
      {%- endif -%}
      <div class="cart-message">
        {{ 'sections.cart.message_html' | t -}}
        <span class="show-for-small-only hidden"> {{ 'sections.cart.note_html' | t }}</span>
      </div>
      {% if settings.cart_special_message_enable %}
        <div class="cart-special-message">
          <h6>{{ 'sections.cart.cart_special_message_enable' | t }}</h6>
          {{ 'sections.cart.special_message_html' | t }}
        </div>
      {% endif %}
      <div class="giftrow1">
        <div class="leftimage">
          <img src="{{ 'gift_note.png' | asset_url }}" loading="lazy" alt="Gift Note" width="" height="">
        </div>
        <div class="righttext">
          <h6>Make it Personal</h6>
          <p>
            Add a <b>FREE</b> gift note with your order, printed directly onto a letter-pressed, Fleur logo notecard.
          </p>
        </div>
      </div>
      {%- if settings.show_cart_note -%}
        <cart-note class="cart__note field">
          <label for="Cart-note"><input type="checkbox" id="Cart-note">{{ 'sections.cart.note' | t }}</label>
          <textarea
            class="text-area field__input"
            name="note"
            form="cart"
            id="CartSpecialInstructions"
            placeholder="Type a message..."
            disabled
            maxlength="200"
          ></textarea>
        </cart-note>
        <div class="countchars-wrapper">
          <small><span name="countchars" id="countchars"></span> {{ 'sections.cart.chars_remain' | t }}</small>
        </div>
        <!-- countchars-wrapper -->
      {%- endif -%}
    </div>
  </div>
</div>
<script>
  document.getElementById('Cart-note').addEventListener( 'click', function(){
      var textArea = document.getElementById('CartSpecialInstructions')
      textArea.disabled = !textArea.disabled
  });
  var totalChars      = 200; //Total characters allowed in textarea
  var countTextBox    = document.getElementById('CartSpecialInstructions') // Textarea input box
  var charsCountEl    = document.getElementById('countchars'); // Remaining chars count will be displayed here

    charsCountEl.innerHTML = totalChars;
    countTextBox.addEventListener("keyup", (event) => {
      var thisChars = countTextBox.value.length;
      var remaingtext = totalChars - thisChars;
      charsCountEl.innerHTML = remaingtext;

  });
</script>
{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
